<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyFrameworkdesignV1">

   <listeners>
   <listener class-name="com.MyStore.utilities.Reporting">
   </listener>
   </listeners>

    <test name="E-CommerceApp Test">
       <parameter name="browser" value="chrome">
       <classes>
          <class name="com.MyStore.TestCases.TC_LoginPage_001">
          </class>
       </classes>
       </parameter>
    
    </test>


</suite>